<div class="cover"></div>
<div class="background-color"></div>

<div class="row header-group justify-content-center">
    <h1>
      <a href="http://localhost:8080/app/auth/google">Log in</a>
    </h1>

</div>

<!--<mat-card class="login">-->
<!--    <mat-card-header>-->
<!--        <h3>Already Members</h3>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--    <form>-->
<!--        <table cellspacing="0">-->
<!--        <tr>-->
<!--            <td>-->
<!--            <mat-form-field class="user-info">-->
<!--                <input matInput placeholder="Enter a username" name="username" required>-->
<!--            </mat-form-field>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--        <td>-->
<!--            <mat-form-field class="user-info">-->
<!--                <input matInput placeholder="Enter your password" type="password" name="password" required>-->
<!--            </mat-form-field>-->
<!--        </td>-->
<!--        </tr>-->
<!--        </table>-->
<!--    </form>-->

<!--    </mat-card-content>-->
<!--    <mat-card-actions>-->
<!--        <button mat-raised-button color="primary">SIGN IN</button>-->
<!--    </mat-card-actions>-->
<!--</mat-card>-->

<!--<div class="row justify-content-center">-->
<!--    <p><b> Don't have an account yet? </b></p>-->
<!--</div>-->

<!--<div class="row justify-content-center create-account">-->
<!--    <p><a href="/register">Create an account</a></p>-->
<!--</div>-->
