/* Images */
.header-video {
    color: var(--third-color);
}
.video-card {
    max-width: 600px;
}
.avatar-image {
    background-size: cover;
}
.details {
    color: grey;
    float: right;
}
.video-gallery {
    width:90%;
    margin: auto;
}
.video-gallery div{
    margin-bottom: 10px;
}
.description {
    height: 70px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* Chips */
.tags{
    margin: auto;
    padding-bottom: 20px;
}
.tagsList {
    font-family: 'Montserrat', sans-serif;
}
.tagsList mat-chip {
    font-weight: bold;
}
.title {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
}
.header-group {
    margin:auto;
    margin-top: -40px;
}