<!-- NAV BAR -->
<mat-toolbar color="primary" >
  <mat-toolbar-row>

    <a mat-button routerLink="/" routerLinkActive="active">
      <h1 class="logo"><span>Cine</span>Markup</h1>
    </a>

    <span class="menu-spacer"></span>
    <div class="nav">
      <a mat-button routerLink="/record" routerLinkActive="active"> Record a Video </a>
      <a mat-button routerLink="/playlist"> Add Annotations </a>
      <a mat-button routerLink="/dashboard" routerLinkActive="active"> View Videos </a>

      <a mat-button href="app/auth/google" *ngIf="!loggedIn"> Log In </a>

      <a mat-button (click)="logout()" *ngIf="loggedIn"> Log Out </a>
      <a mat-button *ngIf="loggedIn"> 
        <img *ngIf="loggedIn" class="avatar" [src] ="avatar"> 
        {{name}} - {{email}} 
      </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>


<!-- MAIN -->
<div class="main">
  <!-- tells the router where to display the routed views -->
  <router-outlet></router-outlet>
</div>
