.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.logo span {
    color: var(--secondary-color);
    font-weight: 800;
    letter-spacing: 0.03em;
    margin-right: 2px;
}
.mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000; 
}

.avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}