<div class="body">
    <div class="row header-group">
        <h1 class="col-8">
            Video Player
        </h1>
        <ng-container *ngIf="playlist&&playlist.video">
            <div class="col-4">
                <button mat-raised-button
                    class="publish-btn"
                    color="accent"
                    (click)="publishVideo(playlist.video.videoID)"
                    > Publish
                </button>
                <button mat-raised-button
                    class="save-btn"
                    (click)="onSaveToStorage()"
                    color="accent"
                    > Save
                </button>
            </div>
        </ng-container>
    </div>

    <ng-container *ngIf="playlist&&playlist.video">
        <div class="row videos" >
            <div class="col-md-8 videoplayer">
                <ng-container *ngIf="currentAnnotation">
                    <app-video-player 
                                        [annotation]="currentAnnotation"
                                        [video]="video"
                                        [autoplay]="true"
                                        (ended)="onEndedAnnotation()"
                                        (seeked)="onSeekVideo($event)"
                                        [showTitle]="true"
                                        [currentTime]="videoCurrentTime"
                                        >
                    </app-video-player>
                </ng-container>
            </div>

            <div class="col-md-4" >
                <ng-container *ngIf="playlist">
                <div class="group">
                    <button mat-raised-button
                        class="add-annotation-btn"
                        color="primary"
                        (click)="addAnnotation()">Add Annotation</button>
                    <mat-form-field class="search"  id="search">
                        <input matInput 
                        placeholder="Search the annotations"
                        [(ngModel)]="searchText"
                        (input)="onSearch($event)"
                        >
                    </mat-form-field>
                </div>
                
                <div class="annotations">
                    <ng-container *ngFor="let annotation of playlist.annotations;let i=index">
                            <app-annotations #annotations [video]="playlist.video"
                                [annotation]="annotation"
                                [editable]="editable"
                                [isPlaying]="annotation.annotationId==currentAnnotation.annotationId"
                                (editAnnotation)="onEditAnnotation(annotation)" 
                                (deleteAnnotation)="onDeleteAnnotation(annotation,i)"
                                (playFromAnnotationStart)="onplayFromAnnotationStart(annotation,i)"
                                [style.display]="annotation.display"
                                >
                            </app-annotations>
                    </ng-container>
                </div>
                </ng-container>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <app-tags
                    [tagsList]="videoTags"
                    [videoID]="video.videoID"
                    >
                </app-tags>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!playlist">
        <div class="row">
            <h4 class="col-lg-2">Click a video to go to edit it.</h4>
            <div class="col-lg-6">
            <button mat-raised-button
                class="upload-btn"
                color="primary">Upload a New Video</button>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let videoGroup of playlists" class="col-sm">
                <mat-card class="video-card">
                    <mat-card-header>
                      <div mat-card-avatar class="avatar-image"
                        [ngStyle]="{'background-image': 'url(' + getProfilePic() + ')'}"
                      ></div>
                      <mat-card-title class="header">{{videoGroup.video.title}}</mat-card-title>
                      <mat-card-subtitle>Author: {{videoGroup.video.createdBy}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image  
                        (click)="editPlaylist(videoGroup.id)"
                        [src]="getThumbnail(videoGroup.video.thumbnail)"
                        loading="lazy"
                        >
                    <mat-card-content>
                      <p>
                        {{videoGroup.video.description}}
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary"
                            (click)="editPlaylist(videoGroup.id)">
                            EDIT
                        </button>
                        <ng-container *ngIf="videoGroup.video.publishedAt===''">
                            <button mat-raised-button color="primary"
                                (click)="publishVideo(videoGroup.video.videoID)"
                                >PUBLISH</button>
                        </ng-container>
                        <span class="details">Created: {{videoGroup.video.createdAt}}</span>
                        <ng-container *ngIf="videoGroup.video.publishedAt!==''">
                        <span class="details">Published: {{videoGroup.video.publishedAt}}</span>
                        </ng-container>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </ng-container>

</div>