.title {
    color: var(--primary-color);
}
.init-container {
    height: 100vh;
}
.init-container .message {
    margin-bottom:20px;
}
.add-annotation-btn {
    margin-bottom: 10px;
}
.publish-btn {
    margin-bottom: 10px;
    margin-right: 20px;
    position: absolute;
    bottom: 10px;
}
.save-btn {
    margin-bottom: 10px;
    margin-right: 20px;
    position: absolute;
    bottom: 10px;
    left: 110px;
}
.upload-btn {
    float: left;
    margin-right: 10%;
    position: absolute;
    bottom: 10px;
}
.group {
    /* display: inline; */
    margin-top:20px;
}
.search {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}
.annotations {
    width: 100%;
    /* height: 100%; */
    overflow-y: scroll;
}
.title {
    font-weight: bold;
}
.header {
    color: var(--third-color);
}
.video-card {
    max-width: 600px;
    margin-bottom: 20px;
}
.avatar-image {
    background-size: cover;
}
.details {
    color: grey;
    float: right;
    margin-left: 10px;
}
.description {
    height: 70px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
::ng-deep #search .mat-form-field-flex {
    padding: 0px;
}

/* Timeline */
.timeline-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.timebar-container {
    padding-right: 60px;
    width: 100%;
    position: absolute;
}
.timeline {
    overflow: hidden;
    width: 100%;
    background-color: #cccccc;
}
.time-annotation {
    float: left;
    background-color: rgba(76, 154, 212, 0.555);
    width: 40px;
    height: 25px;
    position: relative;
    border-left: 1px solid  rgba(76, 154, 212, .9);
    border-right: 1px solid  rgba(76, 154, 212, .9);
}
.timebar {
    background-color: black;
    height: 40px;
    width: 3px;
    position: relative;
    margin-top: -5px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.btn-publish {
    margin-top: 10px;
}
.description-input {
    width: 65%;
    margin-left: 15px;
    margin-right: 15px;
}
.save {
    margin-top: 20px;

}