<div class="body">
  <div class="row header-group">
      <h1 class="col-8">
          <ng-container *ngIf="!playListId">
              Edit Your Videos
          </ng-container>
          <ng-container *ngIf="playListId">
              Video Player
          </ng-container>
      </h1>
      <ng-container *ngIf="playlist&&playlist.video&&allowEditing">
          <div class="col-4">

              <mat-button-toggle-group color="accent" class="btn-publish" aria-label="Font Style" [(ngModel)]="playlist.video.published">
                  <mat-button-toggle  [value]="true"
                      (click)="publishVideo(playlist.video.videoID)"
                      >Published</mat-button-toggle>
                  <mat-button-toggle  [value]="false"
                      (click)="unPublishVideo(playlist.video.videoID)"
                      >Unpublished</mat-button-toggle>
              </mat-button-toggle-group>

          </div>
      </ng-container>
  </div>

  <!-- One video to edit -->
  <ng-container *ngIf="playlist&&playlist.video">
      <div class="row videos" >
          <div class="col-md-8 col-sm-6 videoplayer">
                  <!-- Video player -->
                  <app-video-player 
                                      [annotation]="currentAnnotation"
                                      [video]="video"
                                      [autoplay]="true"
                                      (ended)="onEndedAnnotation()"
                                      (seeked)="onSeekVideo($event)"
                                      (timeUpdated)="onTimeProgress($event)"
                                      [showTitle]="true"
                                      [currentTime]="videoCurrentTime"
                                      >
                  </app-video-player>

                  <!-- Timeline -->
                  <div class="timeline-container">
                      <ng-container *ngIf="playlist.annotations.length > 0">
                          <div class="timebar-container">
                              <div class="timebar"
                              [style.left.%]="timeLineBar"
                              ></div>
                          </div>
                      </ng-container>
                      <div class="timeline">
                          <ng-container *ngFor="let annotation of playlist.annotations;let i=index">
                              <div class="time-annotation" 
                                  [style.width.%]="getSizeFromTime(annotation)"
                                  [style.left.%]="getPositionFromTime(annotation)"
                                  ></div>
                          </ng-container>
                      </div>
                  </div>

          </div>

          <div class="col-md-4 col-sm-6" >
              <ng-container *ngIf="playlist">
              <mat-tab-group>

                  <!-- Annotations -->
                  <mat-tab label="ANNOTATIONS"> 
                      <div class="group">
                          <ng-container *ngIf="allowEditing">
                          <button mat-raised-button
                              class="add-annotation-btn"
                              color="primary"
                              (click)="addAnnotation()">Add Annotation</button>
                          </ng-container>
                          <mat-form-field class="search"  id="search">
                              <input matInput 
                              placeholder="Search the annotations"
                              [(ngModel)]="searchText"
                              (input)="onSearch($event)"
                              >
                          </mat-form-field>
                      </div>
              
                      <div class="annotations">
                          <ng-container *ngFor="let annotation of playlist.annotations;let i=index">
                                  <app-annotations #annotations [video]="playlist.video"
                                      [annotation]="annotation"
                                      [editable]="allowEditing"
                                      [isPlaying]="highlightAnnotation(annotation)"
                                      (editAnnotation)="onEditAnnotation(annotation)" 
                                      (deleteAnnotation)="onDeleteAnnotation(annotation.annotationID)"
                                      (playFromAnnotationStart)="onplayFromAnnotationStart(annotation,i)"
                                      [style.display]="annotation.display"
                                      >
                                  </app-annotations>
                          </ng-container>
                      </div>
                  </mat-tab>

                  <!-- Comments -->
                  <mat-tab label="USER COMMENTS" *ngIf="!allowEditing"> 
                      <app-comments
                          [comments]="video.comments"
                      >
                      </app-comments>
                  </mat-tab>
              </mat-tab-group>
              </ng-container>
          </div>
      </div>

      <div class="row">
          <div class="col-8">
              <app-tags
                  [tagsList]="videoTags"
                  [videoID]="video.videoID"
                  >
              </app-tags>
          </div>
      </div>
  </ng-container>

  <!-- All of your videos -->
  <ng-container *ngIf="!playlist">
    <div class="row">
      <h4 class="col-lg-2">Click a video to go to edit it.</h4>
      <div class="col-lg-6">
        <button mat-raised-button
                class="upload-btn"
                color="primary"
                (click)="uploadvideofile.click()">Upload a New Video
        </button>

        <input id="uploadvideofile" #uploadvideofile
               class="upload-btn"
               (change)="saveVideo($event)"
               accept="video/VP8,video/3gpp,video/mp4"
               type="file" hidden/>
      </div>
    </div>
      <div class="row">
          <ng-container *ngFor="let videoGroup of playlists" >
              <div class="col-lg-4 col-md-6"  *ngIf="isCurrentUser(videoGroup.user)">
                  <mat-card class="video-card" >
                      <mat-card-header>
                      <div mat-card-avatar class="avatar-image"
                          [ngStyle]="{'background-image': 'url(' + videoGroup.user.avatar + ')'}"
                      ></div>
                      <mat-card-title class="header">{{videoGroup.video.title}}</mat-card-title>
                      <mat-card-subtitle>Author: {{videoGroup.user.displayName}}</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image 
                          (click)="editPlaylist(videoGroup.id)"
                          [src]="getThumbnail(videoGroup.video)"
                          loading="lazy"
                          >
                      <mat-card-content>
                      <p class="description">
                          {{getDescription(videoGroup.video)}}
                      </p>
                      </mat-card-content>
                      <mat-card-actions>
                          <button mat-raised-button color="primary"
                              (click)="editPlaylist(videoGroup.id)">
                              EDIT
                          </button>
                          <ng-container *ngIf="!videoGroup.video.published">
                              <button mat-raised-button color="primary"
                                  (click)="publishVideo(videoGroup.video.videoID)"
                                  >PUBLISH</button>
                          </ng-container>
                          <span class="details">Created: {{videoGroup.video.createdAt | date: 'mediumDate' }}</span>
                          <ng-container *ngIf="videoGroup.video.published">
                              <span class="details">Published: {{videoGroup.video.publishedAt | date: 'mediumDate' }}</span>
                          </ng-container>
                      </mat-card-actions>
                  </mat-card>
              </div>
          </ng-container>
      </div>
  </ng-container>
</div>