<div class="header">
    <div class="header-content">
      <div class="header-text">
        <h1>Most recent videos</h1>
      </div>
      
    </div>

    <div class="container">
        <!--Row with columns-->
        <div class="row">
            <!--Column 1-->
            <div class="col-sm-4">
              <div class="frame">
                <img class="img" src="/assets/images/bannerHome.png" alt="bannerHome">
              </div>
            </div>


            <!--Column 2-->
            <div class="col-sm-4">
              <div class="frame">
                <img class="img" src="/assets/images/CartoonFrozenThumbnail.PNG" alt="CartoonFrozenThumbnail">   
              </div>
            </div>


            <!--Column 3-->
            <div class="col-sm-4">
              <div class="frame">
                <img class="img" src="/assets/images/WaterResourcesThumbnail.PNG" alt="WaterResourcesThumbnail">
              </div>
            </div>

        </div>


        <!--Row with columns-->
        <div class="row">
            <!--Column 1-->
            <div class="col-xs-3">
              <div class="frame">
                <p style="text-align: center;">Video 1</p>
              </div>
            </div>

            <!--Spacing-->
            <div class="col-xs-1">
              <div class="spacing"></div>
            </div>

            <!--Column 2-->
            <div class="col-xs-3">
              <div class="frame">
                <p style="text-align: center;">Video 2</p>   
              </div>
            </div>

            <!--Spacing-->
            <div class="col-xs-1">
              <div class="spacing"></div>
            </div>

            <!--Column 3-->
            <div class="col-xs-3">
              <div class="frame">
                <p style="text-align: center;">Video 3</p>
              </div>
            </div>

            <!--Spacing-->
            <div class="col-xs-1">
              <div class="spacing"></div>
            </div>
        </div>
        
        
        
    </div>
</div>

