<div class="header">

    <div class="cover"></div>
    <div class="header-background"></div>
    
    <div class="header-content">
      <div class="header-text">
        <h1>Record, Upload, <br>and Annotate Videos</h1>
        <!-- <p>Make memorable videos</p> -->
        <button mat-raised-button color="primary" (click)="signUp()">Sign up to Add Your Videos</button>
      </div>
      
      <div class="header-visuals">
        <div class="banner">
            <div class="banner-image"></div>
        </div>  
      </div>
    </div>
</div>

<app-video-gallery></app-video-gallery>

<div class="row justify-content-center upload">
  <button mat-raised-button color="primary">
    Upload Your Own Video
  </button>
</div>
