<div class="header">

    <div class="cover"></div>
    <div class="header-background"></div>
    
    <div class="header-content">
      <div class="header-text">
        <h1>Record, Upload, <br>and Annotate Videos</h1>
        <p>Easy to use, so you can <br> make memorable videos</p>
        <button mat-raised-button color="primary">Sign up</button>
      </div>
      
      <div class="header-visuals">
        <div class="banner">
            <div class="banner-image"></div>
        </div>  
      </div>
    </div>

  </div>